@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    --red: #058554;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size:45.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #f7f7f7;
}

section {
    padding: 2rem 9%;
}
.logo
{
     width: 300px;
     height: 100px;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span {
    color: var(--red);
}

.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header {
    font-weight: bolder;
    color:#058554 !important;
}

header img {
    padding-right: .5rem;
    color: var(--yellow);
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color:#058554;
    text-decoration: none;
    
}

header .navbar a:hover {
    color: var(--yellow);
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(./images/banner3.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    
}



.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
    height: 680px;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(3rem);
    }
}

.home .content h3 {
    font-size: 5rem;
    color: #fff; 
   justify-content: center;
    text-align: center;
}

.home .content p {
    font-size: 1.7rem;
    color: #fff; 
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
}

.home .content a {
    font-size: 1.7rem;
    color: #fff; 
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
}
.speciality .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.speciality .box-container .box {
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
}

.speciality .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 2rem;
}

.speciality .box-container .box .content img {
    margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.speciality .box-container .box .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
    top: 0;
}

.speciality .box-container .box:hover .content {
    transform: translateY(100%);
}



.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.gallery .box-container .box .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.gallery .box-container .box:hover .content {
    top: 0;
}
.contactus p {
    font-size: 1.7rem;
    color: #fff; 
    padding: 1rem 0;
    justify-content: center;
    text-align: center;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
    height: 600px;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
    cursor: pointer;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.order .row {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}

.order .row .image {
    flex: 1 1 20rem;
}

.order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.order .row form {
    flex: 1 1 50rem;
    padding: 1rem;
}

.order .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}

.order .row form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

.order .row form .btn {
    background: none;
}

.order .row form .btn:hover {
    background: var(--red);
}

.footer{
    background-color: #058554;
}
.footer h1{
    text-align: center;
    justify-self: center;
}
.footer .share {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    font-size: medium;
    font-weight: 100px;
    
}
.footer .share a{
    color: #d0d30e;

}
.footer .credit {
    padding: 2.5rem 1rem;
    color: #e7eb04;
    font-weight: normal;
    font-size: 1.5rem;
}

.footer .credit span {
    color: var(--red);
}

#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 12rem)
}

/* media queries  */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
    .order .row form .inputBox input {
        width: 100%;
    }
}